# config
*.DS_Store
*.vscode

# cache
__pycache__
*.pyc
*.pytest_cache

# output
*.csv
generated
registry/contributions/
modules/

# test
*coverage.*
.coverage
coverage_html_report

# build
miRBase
fonts/
pygments.css
favicon.png
node_modules

# dist
*~
*.so
*.c
*.pyd
build
dist
*.egg-info
*.eggs

# PyInstaller
*.spec
*house*

# neutralino.js
*.storage
bin
*.log
neutralino.js