*.egg-info
*.pyc
*~
build
dist
*.so
*.c
*.pyd
*.csv
*.eggs
__pycache__
miRBase
*.DS_Store
*.spec
*.vscode
*.pytest_cache
fonts/
generated
pygments.css
favicon.png
registry/contributions/
*coverage.*
.coverage
coverage_html_report
node_modules
bin
*.log
*house*
neutralino.js
*.storage
modules/