@import url('styles/Montserrat.css');

*:not(i) {
	font-family: 'Montserrat' !important;
}
.ui.top.left.attached.label {
	font-weight: 500;
	font-style: italic;
}
textarea {
	font-weight: 200;
}

/* Dark mode, preserving images */
@media (prefers-color-scheme: dark) {
	html {
		-webkit-filter: invert(100%) hue-rotate(180deg);
		filter: invert(100%) hue-rotate(180deg);
		background: black;
	}
	img {
		-webkit-filter: invert(100%) hue-rotate(180deg) !important;
		filter: invert(100%) hue-rotate(180deg) !important;
	}
}
