@import url('styles/Montserrat.css');

*:not(i) {
	font-family: 'Montserrat' !important;
}
.ui.top.left.attached.label {
	font-weight: 500;
	font-style: italic;
}
textarea {
	font-weight: 200;
}

/* If dark mode (and thus favicon inverted), re-invert favicon to normal */
@media (prefers-color-scheme: dark) {
	img.logo {
		-webkit-filter: invert(100%);
		filter: invert(100%);
	}
}
