@import url('styles/Montserrat.css');

*:not(i) {
	font-family: 'Montserrat' !important;
}
.ui.top.left.attached.label {
	font-weight: 500;
	font-style: italic;
}
textarea {
	font-weight: 200;
}

/* Don't support dark mode */
@media (prefers-color-scheme: dark) {
	img {
		-webkit-filter: invert(100%) hue-rotate(180deg) !important;
		filter: invert(100%) hue-rotate(180deg) !important;
	}
}
